@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./typography.css";

img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}


@import url("//use.fontawesome.com/releases/v5.15.3/css/all.css");

h1 {
  font-family: Baskerville, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #003e6f;
  font-size: 28px;
}
h2 {
  font-family: Baskerville, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #003e6f;
  font-size: 24px;
}
h3 {
  font-family: Baskerville, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #003e6f;
  font-size: 20px;
}
h4 {
  font-family: ArialMT, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #003e6f;
  font-size: 18px;
}
h5 {
  font-family: Baskerville, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #003e6f;
  /* font-size: 28px; */
}
h6 {
  font-family: Baskerville, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #003e6f;
  /* font-size: 28px; */
}

i {
  color: #9b9b9b;
  font-size: 12px;
}

/* .slick-dots li button:before {
  color: #003e6f !important;
  font-size: 12px !important;
  content: "\25a0" !important;
}
.slick-dots li {
  margin: 0 !important;
} */
.content-container {
  max-width: 1200px;
  margin: 0px auto;
}

.ant-tabs-top > .ant-tabs-nav {
  margin-bottom: 0px !important;
}
.ant-layout-content {
  padding-bottom: 0px !important;
}
/* @media only screen and (max-width: 1024px) {
  .ant-layout-content {
    padding-bottom: 80px !important;
  }
} */
