@font-face {
  font-family: "Inter-Light";
  src: url("./fonts/inter/Inter-Light.ttf");
}

@font-face {
  font-family: "Inter-Medium";
  src: url("./fonts/inter/Inter-Medium.ttf");
}

@font-face {
  font-family: "Inter-SemiBold";
  src: url("./fonts/inter/Inter-SemiBold.ttf");
}

@font-face {
  font-family: "WorkSans-Light";
  src: url("./fonts/worksans/WorkSans-Light.ttf");
}

@font-face {
  font-family: "WorkSans-Semibold";
  src: url("./fonts/worksans/WorkSans-SemiBold.ttf");
}