{
    "parser": "babel-eslint", // uses babel-eslint transforms
    "settings": {
        "react": {
            "version": "detect" // detect react version
        }
    },
    "env": {
        "node": true, // defines things like process.env when generating through node
        "browser": true,
        "es6": true,
        "jest": true
    },
    "extends": [
        "eslint:recommended", // use recommended configs
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "react/display-name": "off",
        "@typescript-eslint/no-var-requires": 0
    }
}